<div id="cuadrant-wrapper">
  <div id="green-cuadrant">
    <%= @green_list.each do |u| %>
      <%= link_to u.name, user_path(u.id), :class => "student" %>
    <% end %>
  </div>
  <div id="orange-cuadrant"></div>
  <div id="yellow-cuadrant"></div>
  <div id="red-cuadrant"></div>
</div>
