<% title "Register" %>
<h2>Sign up</h2>

<p>We're sorry. At this time, access to this site is by invitation only.
If you know Larry, feel free to ask him for an invitation. 
Otherwise, please check back here in July 2012 to see if you can sign in.</p>

<!-- <%= render 'shared/new_user' %> -->

<%= render "devise/links" %>
