<!-- From Railscasts, Ryan Bates, http://railscasts.com/episodes/196-nested-model-form-part-1 -->
<!-- From Railscasts, Ryan Bates, http://railscasts.com/episodes/196-nested-model-form-part-2 -->
<tr class="fields">
	<td><%= f.text_field :word, :size => 20, :class => "word-column" %></td>
	<td><%= f.text_field :sentence, :size => 60, :class => "sentence-column" %></td>
	<td><%= link_to_remove_fields "remove", f, :class => "remove-column" %></td>
</tr>
