<div class="for-school">
	<% if ! user.overdue_assignments.empty? %>
		<div class="do-now ui-state-error">
			<h3>Overdue</h3>
			<%= render :partial => 'shared/list_status', :locals => { :lists => user.overdue_assignments } %>
		</div>
	<% end %>
	<% if ! user.coming_soon_assignments.empty? %>
		<div class="up-next ui-state-highlight">
			<h3>Due Soon</h3>
			<%= render :partial => 'shared/list_status', :locals => { :lists => user.coming_soon_assignments } %>
		</div>
	<% end %>
	<div class="done-recently">
		<h3>Recently Completed</h3>
		<% if ! user.complete_assignments.empty? %>
			<%= render :partial => 'shared/list_status', :locals => { :lists => user.complete_assignments } %>
		<% else %>
			<p>None</p>
		<% end %>
	</div>
</div>

