<% title 'Attribution' %>
<div id="attributions">
	<p>
	The following are used under the 
	<a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license:</a>
	</p>
	<ul>
		<li>
			The applause when you complete a list is by 
			<a href="http://www.freesound.org/people/joedeshon/">http://www.freesound.org/people/joedeshon/.</a>
		</li>
		<li>The "Ta-Da" sound is by <a href="http://soundbible.com/1003-Ta-Da.html">Mike Koenig.</a></li>
	</ul>
	
	<p><%= link_to 'Back', :back %></p>
</div>