<% title "For Teachers" %>
<div id="teachers-blurb">
	<table class="blurb">
		<tr>
			<td style="width: 30%;">
				<h1>Coming Soon</h1>
				<p>Imagine knowing how hard your students were working on their spelling practice.
				Imagine knowing what words are hard for your students. Most of all, imagine knowing
				which students struggle, and would benefit from your help.</p>
				<p>When your school signs up for the School Package, you'll be able to do all that
				and more. 
				</p>
			</td>
			<td class="vertical-spacer"></td>
			<td style="width: 30%;">
				<h1>Introducing the School Package</h1>
				<p>The school package is a special set of features designed for schools.
				It has all the same features that help students learn to spell on their own, plus features
				that get rid of the clerical work of teaching spelling, and let you focus on helping students
				learn to spell.
				</p>
			</td>
			<td class="vertical-spacer"></td>
			<td style="width: 30%;">
				<h1>Features of the School Package</h1>
				<ul>
					<li>Create lists of words to learn for just your class, your grade, your school. 
					You can even share lists with the whole world</li>
					<li>Use predefined lists, or use your lists from previous years.</li>
					<li>Students can practice spelling at school, at home, or anywhere else they have a computer.
					They can even use their mobile device</li>
					<li>See which students are practicing, how much time they spend practicing, and how often they get words wrong</li>
					<li>Customize the students' experience</li>
					<li><b>No ads!</b></li>
				</ul>
			</td>
		</tr>
	</table>
</div>
