<table class="blurb">
	<tr>
		<td id="practice-blurb" class="blurb">
			<h1 class="blurb-header">Practice Spelling</h1>
			<p>Check out our library of lists of words to spell.
			You can choose a list to practice, and track how you do.
			Learn more <%= link_to "here", welcome_promo_path %> or, 
			get started <%= link_to "here", word_list_index_path %>.
			</p>
		</td>
		<td class="vertical-spacer"></td>
		<td id="teachers-blurb" class="blurb">
			<h1 class="blurb-header">For Teachers</h1>
			<p>Coming soon for teachers and schools, a package of features to help you
			help your students learn to spell. Click <%= link_to "here", welcome_for_teachers_path %> for more info.
			</p>
		</td>
		<td class="vertical-spacer"></td>
		<td id="sign-up" class="blurb">
			<h1 class="blurb-header">Sign Up</h1>
			<p>Sign-up is coming soon. For now, results are tracked on this computer, so you
			won't see your results on a different computer. When you sign up, you'll be able to create your own lists, 
			and challenge your friends. You'll also be able to keep track of your work on any computer.
			</p>
			<p>(For the technically inclined: At the moment we identify you by a cookie. If you clear
			cookies on your browser, you'll lose access to your previous work.)
			</p>
		</td>
	</tr>
</table>
