<% title "More Info" %>
<table class="blurb">
	<tr>
		<td>
			<h1>What Is This Place?</h1>
			<p>This site lets you study and practice spelling lists of words. 
			It reads a word to you, then a sentence containing that word, 
			and you type in the word. If you get it right, you move to the next word. 
			If a word's too hard, you can skip it and come back later.
			</p>
		</td>
		<td class="vertical-spacer"></td>
		<td>
			<h1>Coming Soon</h1>
			<ul>
				<li>Challenge your friends to do better than you</li>
				<li>Set your preferred version of English</li>
				<li>Choose the voice that speaks to you</li>
				<li>Mobile version. Practice on your phone, anywhere</li>
			</ul>
		</td>
	</tr>
</table>
