<h1>Study the <%= @word_list.title %> list</h1>

<div id="study-list">
<table id="study-list">
<% @word_list.for_study(3).each do |word_row| %>
  <tr>
 		<% word_row.each do |word| %>
    	<td><%= word %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>

<div id="to-practice">
	<%= link_to 'Practice this list', list_practice_path %>
</div>
<div id="to-all-lists">
	<%= link_to "Back to all lists", word_list_index_path %>
</div>
