<h1><%= @word_list.title %></h1>

<div id="study-list">
<table id="study-list">
<% @word_list.for_study(3).each do |word_row| %>
  <tr>
 		<% word_row.each do |word| %>
    	<td><%= word %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
<div class="links">
<%= link_to 'Practice this list', list_practice_path %>
| <%= link_to "Back to all lists", word_list_index_path %>
</div>
