/*	This is getting ahead of myself, but the first ones are things I 
		would likely use in all apps.
*/
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
}

body {
//	background-color: #f3f3f3;
}

/*	Classes for integer and date columns in tables
*/
td.number-column, td.date-column {
	text-align: right;
}

td.column-header {
  text-align: center;
  font-weight: bold;
}

.clear { clear: both;}

/*	This is the area I intend the application to draw in. If the browser
		window is wider than you specify here, you'll see the overall background
		in the remaining space.
		
		Fix the width of what we run the app in, and centre it in the browser window
*/
div#application-area {
	margin-left:auto;
	margin-right:auto;
	position: relative;
	width: 800px;
	background-color: white;
}

/*  At the top of the page we have the banner header.
*/
div#banner {
	height: 3cm;
	background-color: #ffe7e7;
	text-align: center;
}

/*	Nav bar styling
*/
div#top-nav-bar {
	margin-bottom: 10px;
	background-color: #ffe7e7;
}

div#top-nav-bar li {
	display: inline;
	list-style-type: none;
	width: 15em;
/*	border: solid;
	border-top: none;
	border-bottom: none;
	border-left-width: 1px;
	border-right-width: 1px;
	*/
}

div#top-nav-bar li a {
	text-decoration: none;
}

div#top-nav-bar li a:link,
div#top-nav-bar li a:visited,
div#top-nav-bar li a:hover,
div#top-nav-bar li a:active
	{
	color: black;
}

div#bottom-nav-bar li {
}



/*	Practice the work in a wider left column and view stats in the right column.
*/

div#left-column {
	float: left;
	width: 550px;
}

div#right-column {
	float: left;
  width: 250px;
}

/* Sentence and word
*/
div#sentence {
	margin-top: 1em;
	margin-bottom: 2em;
	font-size: 125%;
}

div#sentence input {
	font-size: inherit;
}

div#beginning-of-sentence, div#student-response-word, div#end-of-sentence {
	display: inline;
	text-size: inherit;
}

/*	Hides the word for users who don't know about show page source.
*/
p#show-the-word {
	display:none;
}

/*	Links area
*/
div#links, div.links {
	margin-top: 2em;
}

/* Buttons, aka Links
*/
div#links form, div#links input, div#links div {
	display: inline;
}

a:link,
a:visited
	{
	color: blue;
	text-decoration: none;
}

a:hover,
a:active
	{
	text-decoration: underline;
}

div#bottom-ads {
	width: 100%;
	height: 3cm;
	background-color: #ffe7e7;
	margin-top: 10px;
	text-align: center;
}

#banner h1, #bottom-ads p {
}

/*	Statistics
*/
div#stats {
	margin-left: 2em;
}

div#stats h1 {
	font-size: 100%;
	text-align: center;
}

table#stats {
	width: 100%;
}

/*	The study page
*/
div#table-list {
}

table#study-list {
	width: 100%;
	text-align: center;
	font-size: 200%;
	border: thin solid;
	border-collapse: collapse;
}

table#study-list tr {
	height: 2em;
	vertical-align: center;
}

table#study-list td {
	border: thin;
	border-style: solid;
}

/*	Errors and messages
*/
div#errors {
	background-color: LightPink;
	margin-top: .5em;
	margin-bottom: .5em;
}

div#messages {
	font-size: 125%;
	margin-top: .5em;
	margin-bottom: .5em;
	height: 108px;
}

/*	Sliding doors buttons.
*/
.button {
	/* Sliding right image */
	background: transparent url('/assets/sliding-doors-base-right.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 58px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	line-height: 58px;
	padding-right: 29px; /* CHANGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
}

/*  The following makes sliding doors work.
    If it's a link, you need to surround the text with <span></span>
    If it's the submit button, the link will get the same treatment as the span.
*/
.button span, .button input {
	/* Background left image */ 
	background: transparent url('/assets/sliding-doors-base-left.png') no-repeat; 
	display: block;
	height: 58px;
	line-height: 58px; /* CHANGE THIS VALUE ACCORDING TO BUTTON HEIGHT */
  padding: 0 0 0 18px;
	color: black;
	font-weight: bold;
}
 
a.button:hover span, span.button:hover span {
	text-decoration: underline;
}

/*  When making the submit button look the same as a link, you need
    to add the following to <input>
*/
.button input {
	margin: 0;
	border: none;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 100%;
}

.button:hover {
	text-decoration: underline;
}

/*
form span.outer-submit {
	margin : 0 auto;
	background:transparent url("/assets/sliding-doors-base-right.png") no-repeat top left;
	max-width : 240px;
	width : 50%;
	padding : 0 0 10px 0;
	height: 58px;
}
form input.submit {
	color : #fff;
	padding:9px;
	margin:0px 0px 5px 3px;
	border : none;
	width : 100%;
	height: 58px;
	background:transparent url("/assets/sliding-doors-base-left.png") no-repeat top right;
}
*/
/*
form .outer-submit:hover {
	background:transparent url("images/topic_button_hover.png") no-repeat top left;
}
form input.submit:hover {
	background:transparent url("images/topic_button_hover.png") no-repeat top right;
}
*/

/*	Another try

	This one claims to work for both links and input submit buttons
	<a href="#" class="button"><span><span>button text</span></span></a>
	<span class="button"><span><input type="submit" value="button text" /></span></span>
	
	This doesn't work when the buttons aren't rectangles.
*/
/*
.button {
	cursor: pointer;
	text-decoration: none;
	background: url('sliding-doors-base-right.png') no-repeat right top; 
	padding-right: 10px; 
	display: inline-block;
	line-height: 58px;
	height: 58px;
	font-size: 24px;
	color: black;
	font-weight: bold;
}

span.button {
	vertical-align: middle;
}

.button span { 
	background: url('sliding-doors-base-left.png') no-repeat left top; 
	padding-left: 10px;
	line-height: 58px;
	height: 58px;
	display: inline-block;
}

.button span span {
	background: transparent;
	padding: 0;
	font-size: 14px;
}

.button span input {
	cursor:pointer;
	font-family: inherit;
	font-weight: bold;
	background: transparent;
	border: 0;
	padding-top: 5px;
	font-size: 14px;
	color: black;
}


.button:hover {
	background-position:right -39px;
}

.button:hover span {
	background-position:left -39px;
}

.button:active {
  background-position:right -78px;
}

.button:active span {
  background-position:left -78px;
}
*/

/*  Centre inline image on text
*/
.v-centre-img {
  vertical-align: middle;
}

/*  I haven't used this yet.
*/
.v-centre-outer {
	position: relative;
}

.v-centre-inner {
	position: absolute; 
	top: 50%; 
	height: 10em; 
	margin-top: -5em;
}

/*  I don't get it. I can't get anything to work in css, including horizontal centering.
*/
.h-centre {
  margin: 0px auto;
  text-align: center;
}
.shrink-wrap {
  display: inline-block;
}
.gray {
  background-color: gray;
  color: white;
}
