/*	This is getting ahead of myself, but the first ones are things I 
		would likely use in all apps.
*/

@import "globals";

html, body, table {
//	height: 100%;
//	margin: 0;
//	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: $font-size;
}

// Layout:
// A title bar all across the window, with the logo in the top left, and
// the login in the top right.
// Space
// 
//  At the top of the page we have the banner header.

div#banner {
	height: $banner-height;
	line-height: $banner-height;
	background-color: $main-colour;
	margin-bottom: 10px;
}

// Within it, the nav bar

div#top-nav-bar {
	background-color: $main-colour;
	display: inline-block;
	margin-left: $left-margin;
	width: $content-width;
	height: $banner-height;
}

// Within the nav bar, the logo on the left and the nav on the right.
div#logo {
	display: inline;
	h1 {
		display: inline;
		font-size: 20px;
		line-height: $banner-height;
	}
	h2 {
		display: inline;
		font-size: 16px;
		line-height: $banner-height;
	}
}

div#top-nav-bar {
	ul {
		float: right;
		display: inline-block;
		border: solid;
		border-top: none;
		border-bottom: none;
		border-left-width: 1px;
		border-right: none;
		margin: 0 0 0 2px;
		padding: 0 2px 0 2px;
		border-color: white;
	}
	li {
		display: inline-block;
		float: right;
		list-style-type: none;
		@include right-side-borders;
		border-color: white;
	}
}

div#top-nav-bar li a {
	text-decoration: none;
}

div#top-nav-bar li a:link,
div#top-nav-bar li a:visited,
div#top-nav-bar li a:hover,
div#top-nav-bar li a:active
	{
//	color: $link-colour;
}

div#user-nav {
  display: inline-block;
  float: right;
  position: relative;
}

// A container for all the content below the banner
div#global-container {
	// To make this a non-static container so absolutes will position within it.
	position: relative;
	width: $window-width;
}

// Now the main content for the application, excluding ads, etc.
div#application-area {
	margin-left: $left-margin;
	position: relative;
	width: $app-width;
	background-color: white;
}

// Ads
div#ads {
	position: absolute;
	top: 0;
	left: $ad-left;
	width: $ad-width;
	height: 100%;
	text-align: center;
	@include side-borders(0,0);
	p {
		font-size: 12px;
		text-align: center;
		padding-top: 6px;
	}
	h1 {
		font-weight: bold;
		font-size: 13px;
	}
}

// At the bottom, another, currently unused nav bar.
div#bottom-nav-bar {
	margin-top: 10px;
	font-size: 9px;
	p {
		text-align: center;
	}
}


/*	Classes for integer and date columns in tables
*/
.number-column, .date-column {
	text-align: right;
}

.column-header {
  text-align: center;
  font-weight: bold;
}

.clear { clear: both;}


/*	Errors and messages
*/
div#errors {
	background-color: LightPink;
	margin-top: .5em;
	margin-bottom: .5em;
}

div#messages {
	font-size: 125%;
	margin-top: .5em;
	margin-bottom: .5em;
	height: 108px;
}

/*  Centre inline image on text
*/
.v-centre-img {
  vertical-align: middle;
}

/*  I haven't used this yet.
*/
.v-centre-outer {
	position: relative;
}

.v-centre-inner {
	position: absolute; 
	top: 50%; 
	height: 10em; 
	margin-top: -5em;
}

/*  I don't get it. I can't get anything to work in css, including horizontal centering.
*/
.h-centre {
  margin: 0px auto;
  text-align: center;
}
.shrink-wrap {
  display: inline-block;
}
.gray {
  background-color: gray;
  color: white;
}

.no-registration {
//  visibility: hidden;
}

