// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "globals";
@mixin pad-sign-in-up($padding: 0, $margin: 10px) {
	padding: 0 $padding 0 $padding;
	margin: $margin / 2 $margin;
}

td#practice-blurb {
}

#teachers-blurb {
}

table.blurb {
	border: none;
	
	tr, thead, tbody, th {
		border: none;
	}
	
	h1 {
		background-color: $light-secondary-colour;
		text-align: center;
		font-size: 110%;
		font-weight: bold;
	}
	
	td {
		background-color: $light-main-colour;
		vertical-align: top;
		
		#sign-up-partial {
			@include pad-sign-in-up;
		}
		
		#sign-in-partial {
			@include pad-sign-in-up;
		}
	}

	ul, ol {
	//	list-style-position: inside;
		padding-left: 0;
		margin-left: 0;
		padding-left: 1.25em;
	}
	
	.vertical-spacer {
		width: 2em;
		background-color: white;
	}
	.horizontal-spacer {
		height: 2em;
		background-color: white;
	}
}

