@import "globals";

// The new and edit page
$word-width: 20em;
$sentence-width: 60em;
$remove-width: 120px;

div#edit-list {
	margin-top: 2em;
	table {
		border: none;
		padding: 2px
	}
	thead {
		border: none;
		background-color: $light-main-colour;
	}
	td.word-column {
		width: $word-width;
	}
	td.sentence-column {
		width: $sentence-width;
	}
	td.remove-column {
		font-size: 11px;
		width: $remove-width;
	}
}

// Space the buttons a bit
div#nav-buttons {
	margin-top: 2em;
}

// Not sure where this is used
div#word-list-list {
}

div#word-list {
}

//	The study page
div#table-list {
}

table {
  margin: 1em 0 1em 0;
  border-collapse: collapse;
  border: thin solid;
  font-size: $font-size;
}

thead {
  border: thin solid;
}

td {
  padding: 0 .5em 0 .5em;
  border-weight: thin;
  border-style: none solid;
}

table#study-list {
	width: 100%;
	text-align: center;
	font-size: 200%;
	border: thin solid;
}

table#study-list tr {
	height: 2em;
	vertical-align: center;
}

table#study-list td {
  border: thin solid;
}

/*  The review page
*/
table#word-list-review td {
}

table#word-list-review thead {
}

table#word-list-review {
}

.list-line-odd {
  background-color: whitesmoke;
}

.list-line-even {
  background-color: none;
}
