@import "globals";

// The Assign word to people page
$assignment-height: 200px;
$separator: 20px;

@mixin assignment-block {
		width: ($app-width - $separator) / 2 - 4px;
		float: left;
}
@mixin assignment-list {
		border: thin solid;
		min-height: $assignment-height;
		list-style-type: none;
		padding: 5px;
		width: ($app-width - $separator) / 2 - 14px;
}
@mixin assignment-list-item {
	margin: 5px;
	padding: 5px;
}

div#assignment {
	div#left-container {
		@include assignment-block;
		ul#assigned {
			@include assignment-list;
		}
	}
	div#right-container {
		@include assignment-block;
		margin-left: $separator;
		ul#unassigned {
			@include assignment-list;
		}
	}
}

// The new and edit page
$word-width: 20em;
$sentence-width: 60em;
$remove-width: 120px;

div#edit-list {
	margin-top: 2em;
	table {
		border: none;
		padding: 2px
	}
	thead {
		border: none;
		background-color: $light-main-colour;
	}
	td.word-column {
		width: $word-width;
	}
	td.sentence-column {
		width: $sentence-width;
	}
	td.remove-column {
		font-size: 11px;
		width: $remove-width;
	}
}

// Space the buttons a bit
div#nav-buttons {
	margin-top: 2em;
}

// Not sure where this is used
div#word-list-list {
}

div#word-list {
}

//	The study page
div#table-list {
}

table {
  margin: 1em 0 1em 0;
  border-collapse: collapse;
  border: thin solid;
  font-size: $font-size;
}

thead {
  border: thin solid;
}

td {
  padding: 0 .5em 0 .5em;
  border-weight: thin;
  border-style: none solid;
}

table#study-list {
	width: 100%;
	text-align: center;
	font-size: 200%;
	border: thin solid;
}

table#study-list tr {
	height: 2em;
	vertical-align: center;
}

table#study-list td {
  border: thin solid;
}

/*  The review page
*/
table#word-list-review td {
}

table#word-list-review thead {
}

table#word-list-review {
}

.list-line-odd {
  background-color: whitesmoke;
}

.list-line-even {
  background-color: none;
}
