@import "globals";

// The new and edit page
$word-width: 120px;
$remove-width: 80px;
$sentence-width: $app-width - $word-width - $remove-width - 16px;

div#edit-list {
	margin-top: 2em;
	
	table {
		border: none;
		padding: 2px
	}
	
	thead {
		border: none;
		background-color: $light-main-colour;
	}
	
	tbody {
		border: none;
	}
	
	.word-column {
		width: $word-width;
	}
	
	.sentence-column {
		width: $sentence-width;
	}
	
	.remove-column {
		font-size: 11px;
		width: $remove-width;
	}
}

// Space the buttons a bit
div#nav-buttons {
	margin-top: 2em;
}

// Not sure where this is used
div#word-list-list {
}

div#word-list {
}

//	The study page
div#table-list {
	table {
	  margin: 1em 0 1em 0;
	  font-size: $font-size;
	}
	
	thead {
	  border: thin solid;
	}
	
	td {
	  padding: 0 .5em 0 .5em;
	  border-weight: thin;
	  border-style: none solid;
	}
}

table#study-list {
	width: 100%;
	text-align: center;
	font-size: 200%;
	border: thin solid;
	
	tr {
		height: 2em;
		vertical-align: center;
	}
	
	td {
	  border: thin solid;
	}
}

/*  The review page
*/
table#word-list-review td {
}

table#word-list-review thead {
}

table#word-list-review {
}
